@using concert_booking.Common.Dependencies;
@using concert_booking.Common.Entities;
@{
    Layout = "~/PL/Shared/_Layout.cshtml";

    string log;
    var userBl = DependencyResolver.UserBL;
    IEnumerable<User> users = userBl.GetUsers();
    string login = null;
    string pass = null;
    string signinErrorMessage = null;
    string signupErrorMessage = null;
    string registered = null;

    string navlink1;
    string ariaSelected1;
    string tabPane1;
    string navlink2;
    string ariaSelected2;
    string tabPane2;

    navlink1 = "nav-link active";
    ariaSelected1 = "true";
    tabPane1 = "tab-pane fade show active";
    navlink2 = "nav-link";
    ariaSelected2 = "false";
    tabPane2 = "tab-pane fade";


    if (IsPost)
    {
        if (Request["UserEnter"] == "true")
        {
            login = Request.Form["login"];
            pass = Request.Form["password"];
            try
            {
                if (userBl.PasswordFitsUsername(login, pass))
                {
                    FormsAuthentication.SetAuthCookie(login, createPersistentCookie: true);
                    Response.Redirect("~/PL");
                }
            }
            catch (ArgumentException e)
            {
                signinErrorMessage = e.Message;
                log = "Sign in failure. " + signinErrorMessage + " " + DateTime.Now;

                try
                {
                    using (var writer = File.AppendText(HttpRuntime.AppDomainAppPath + @"PL\logs.txt"))
                    {
                        writer.WriteLine(log);
                    }
                }
                catch (FileNotFoundException ex)
                {
                    using (StreamWriter sw = new StreamWriter(HttpRuntime.AppDomainAppPath + @"PL\logs.txt"))
                    {
                        sw.WriteLine(log);
                    }
                }
            }
        }
        else if (Request["GuestEnter"] == "true")
        {
            FormsAuthentication.SetAuthCookie("Guest", createPersistentCookie: true);
            Response.Redirect("~/PL");
        }
        else if (Request["UserSignUp"] == "true")
        {
            navlink1 = "nav-link";
            ariaSelected1 = "false";
            tabPane1 = "tab-pane fade";
            navlink2 = "nav-link active";
            ariaSelected2 = "true";
            tabPane2 = "tab-pane fade show active";
            login = Request.Form["login"];
            pass = Request.Form["password"];
            try
            {
                userBl.CreateUser(2, login, pass);
                registered = "Registered.";
            }
            catch (ArgumentException e)
            {
                signupErrorMessage = e.Message;
                log = "Sign up failure. " + signupErrorMessage + " " + DateTime.Now;

                try
                {
                    using (var writer = File.AppendText(HttpRuntime.AppDomainAppPath + @"PL\logs.txt"))
                    {
                        writer.WriteLine(log);
                    }
                }
                catch (FileNotFoundException ex)
                {
                    using (StreamWriter sw = new StreamWriter(HttpRuntime.AppDomainAppPath + @"PL\logs.txt"))
                    {
                        sw.WriteLine(log);
                    }
                }
            }
        }
    }
}
<br>
<div>
    <div class="w-25 mx-auto">

        <ul class="nav nav-tabs nav-justified" id="loginTabs" role="tablist">
            <li class="nav-item">
                    <a class="@navlink1" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="@ariaSelected1">Sign in</a>
            </li>
            <li class="nav-item">
                    <a class="@navlink2" id="signup-tab" data-toggle="tab" href="#signup" role="tab" aria-controls="signup" aria-selected="@ariaSelected2">Sign up</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="@tabPane1" id="signin" role="tabpanel" aria-labelledby="signin-tab" align="center">
                <form method="post">
                    @if (signinErrorMessage != null)
                    {
                        <p class="text-danger">@signinErrorMessage</p>
                    }
                    else
                    {
                        <br>
                    }
                    <table>
                        <tr>
                            <td align="right"><label class="text-white" for="login">Login:</label></td>
                            <td align="left"><input type="text" name="login" value="@Request.Form["login"]"></td>
                        </tr>
                        <tr>
                            <td align="right"><label class="text-white" for="password">Password:</label></td>
                            <td align="left"><input type="password" name="password" value="@Request.Form["password"]"></td>
                        </tr>
                    </table>
                    <input type="hidden" name="UserEnter" value="true">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
                <br>
                <form method="post">
                    <input type="hidden" name="GuestEnter" value="true">
                    <button type="submit" class="btn btn-warning">Enter as a guest</button>
                </form>
            </div>
            <div class="@tabPane2" id="signup" role="tabpanel" aria-labelledby="signup-tab" align="center">
                <form method="post">
                    @if (signupErrorMessage != null)
                    {
                        <p class="text-danger">@signupErrorMessage</p>
                    }
                    else if (registered != null)
                    {
                        <p class="text-success">@registered</p>
                    }
                    else
                    {
                        <br>
                    }
                    <table>
                        <tr>
                            <td align="right"><label class="text-white" for="login">Login:</label></td>
                            <td align="left"><input type="text" name="login" value="@Request.Form["login"]"></td>
                        </tr>
                        <tr>
                            <td align="right"><label class="text-white" for="password">Password:</label></td>
                            <td align="left"><input type="password" name="password" value="@Request.Form["password"]"></td>
                        </tr>
                    </table>
                    <input type="hidden" name="UserSignUp" value="true">
                    <button type="submit" class="btn btn-primary">Sign up</button>
                </form>
            </div>
        </div>
    </div>
</div>